<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

  <springProfile name="local | dev">
    <logger name="org.springframework" level="DEBUG" additivity="false">
      <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="DEBUG">
      <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="org.apache.http" level="INFO"/>
  </springProfile>

  <springProfile name="default">
<!--    <logger name="org.springframework.beans" level="DEBUG" additivity="false">-->
<!--      <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->
    <root level="INFO">
      <appender-ref ref="CONSOLE"/>
    </root>
  </springProfile>

</configuration>
